body {
  padding: 0;
  margin: 0;
}

.header{
  background-color: #bbb;
}

.header h1 {
  padding: 0;
  margin: 0 0 0 10px;
}

.header a {
  text-decoration: none;
  color: #000;
}

.row {
  padding: 10px;
}